{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null
  }
}
